//Variables
$dark-gray: #131516;
$blue-dark: #17515e;
$blue-light: #35f2df;
$orange-light: #f26b1d;
$red-orange: #da4e17;
$pink: #f25d50;
$light-gray: #e0e0e0;
$bottom-margin: 500px;

// Styles
* {
  margin: 0px;
  padding: 0px;
}
html {
  background-color: $dark-gray;
  color: $light-gray;
  font-family: helvetica, sans-serif;
  font-size: 100%;
}

html,
body {
  width: 100%;
  display: inline-block;
  scroll-behavior: smooth;
}
nav {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }
  a {
    text-decoration: none;
    color: #e0e0e0;
    link {
      color: #e0e0e0;
    }
    &:visited {
      color: #e0e0e0;
    }
    &:hover {
      color: #818181;
    }
  }
}
.hero{
    width: 100%;
    height: 300px;
    //background-color: $blue-dark;
    overflow: hidden;
    object-fit:cover;
    object-position: top left;
    position: absolute;
    display: flex;
    

}
.hero-img{
    filter: blur(2px);
}
.banner{
    position: relative;
    text-align: center; 
    z-index: 1000;
    color: white;
    font-size: 5rem;
    margin: auto;
    filter:drop-shadow(0px 0px 10px $blue-light);
}


.content{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 75px 20px 75px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.418);
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out; 
    filter:drop-shadow(3px 3px 5px #fff);
  }
  
  #myBtn:hover {
    background-color: rgb(255, 255, 255);
  }
  .grid-example-2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 10px 10px $bottom-margin 10px;
    //background-color:$blue-dark;
    padding: 10px;
  }
  .unequal-layout {
    width: 100%;
    height: 100%;
    filter:drop-shadow(5px 5px 4px rgba(86, 130, 133, 0.541));
  }
  .firstImage {
    grid-column: 1/3;
    grid-row: 1;
    object-fit: cover;
  }
  .secondImage {
    grid-column: 3/6;
    grid-row: 1;
    object-fit: cover;
  }
  .thirdImage {
    grid-column: 6/8;
    grid-row: 1/3;
    object-fit: cover;
  }
  .fourthImage {
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
  }
  .fifthImage {
    grid-column: 2/4;
    grid-row: 2/3;
    object-fit: cover;
  }
  .sixthImage {
    grid-column: 4/6;
    grid-row: 2/3;
    object-fit: cover;
  }
  .hero-margin{
    margin-top: 300px;
  }     